.character__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 550px;
    height: 280px;
    padding: .5em;
    border-radius: .5em;
    background-color: var(--bg_color);
    box-shadow: -4px 8px 16px rgba(0, 0, 0, .6), 0 16px 32px rgba(0, 0, 0, .8);
    position: relative;
}

.avatar{
    width: 190px;
    height: 180px;
    background-color: #F1F1F1;
}

.avatar > img{
    max-width: 100%;
    object-fit: cover;
}

.character__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: .5em;
}


.led{
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 10px;
    right:  15px;
    border-radius: 50%;
}

.led.Alive{
    background-color: green;
    animation: blinkAlive .6s infinite linear;
}

.led.Dead{
    background-color: red;
    animation: blinkDead .6s infinite linear;
}

.unknown{
    background-color: yellow;
    animation: blinkUnknown .6s infinite linear;
}

@keyframes blinkAlive {
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0 0 15px rgb(6, 252, 6);
    }
}

@keyframes blinkUnknown {
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0 0 15px rgb(242, 255, 53);
    }
}


@keyframes blinkDead {
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0 0 15px rgb(255, 37, 37);
    }
}