.header{
    grid-area: header;
    max-height: 250px;
    background-image: url('../src/assets/Images/background_site.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__title{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

.header__title > h1{
    font-family: 'Get Schwifty';
    font-weight: bold;
    padding: .5em;
    font-size: 3em;
    color: aqua;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
    text-shadow: 12px 0 #000, -12px 0 #000, 0 12px #000, 0 -12px #000,
            6px 6px #000, -6px -6px #000, 6px -6px #000, -6px 6px #000;
}

.mid-title{
    font-size: .5em;
}

.header__search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    gap: .5em;
}

.input__search{
    width: 70%;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    outline: none;
    background-color: var(--bg_color);
    color: var(--text_color);
    border: none;
}

::placeholder{
    font-weight: bold;
    padding: .5em;
}
.input__search:focus,
.input__search:focus-visible{
    outline: none;
}

.search__btn{
    width: 20%;
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: .5em;
    background-color: var(--bg_color);
    color: var(--text_color);
}

.search__btn:hover{
    color: var(--bg_color);
    background-color: aqua;
}