.content{
    grid-area: content;
    width: 100vw;
}

.info__location{
    display: flex;
    width: 100%;
    padding: 1em;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

.data__containt{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 100vw;
    padding: 1em;
    gap: 1em;
    list-style: none;
}