.App{
  display: grid;
  position: relative;
  gap: .5em;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  "header"
  "content"
  "foot";
  width: 100vw;
}

.flex__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  color: #FFF;
  align-items: center;
  width: 100vw;
  gap: 1em;
  background-color: rgba(0, 0, 0, .5);
}
