.App{
  display: grid;
  position: relative;
  gap: .5em;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  "header"
  "content"
  "foot";
  width: 100vw;
}